apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-api
  template:
    metadata:
      labels:
        app: student-api
    spec:
      containers:
        - name: student-api
          image: minnu2344/student-api:v1
          ports:
            - containerPort: 5000
